// Import page-specific CSS files here.
@import "home";
@import "../components/footer";

h1 {
  color: $toolify-dark;
  font-weight: 900;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;

}

