<div class="container tool-form">
  <h1>Add a new tool</h1>
    <%= simple_form_for [@tool, @booking] do |f| %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :finish_date, as: :date %>
      <%= f.button :submit, class: "btn-flat"%>
    <% end %>
</div>

