<footer>
  <hr>
  <div class="container d-flex justify-content-between align-items-center">
    <p> © 2020 - Toolify</p>
    <div class="social-links">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
