<div class="header">
  <div class="container">
    <div class="toolify-navbar">
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="search-form mt-5">
      <form action="">
        <div class="input-group mb-3">
          <input type="text" class="form-control input-height" placeholder="Where do you want your tool?">
          <div class="input-group-append">
            <button class="btn btn-flat" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="home-banner w-100 p-5 mt-5 mb-5">
      <h1>Find the tool you miss</h1>
      <p>Choose your location and the tool you need</p>
      <!-- <button class="btn btn-flat">Get a tool</button> -->
    </div>

        <!-- CHANGE THE SRC OF THE IMG -->

    <div class="cards-container d-flex justify-content-around mt-3 mb-5">
      <% @tools.each do |tool|  %>
      <div class="home-cards mr-3">
        <img src="https://cdn.pixabay.com/photo/2020/05/26/07/03/screwdriver-5221738__340.jpg" />
        <div class="home-cards-infos">
          <div>
            <h2><%= tool.name%></h2>
            <p><%= tool.description %></p>
          </div>
        </div>
        <div class="show-link"><%= link_to 'Show', tool %></div>
      </div>
      <% end %>
    </div>


    <div class="cards-container d-flex justify-content-around mt-3 mb-5">
      <div class="home-cards mr-3">
        <img src="https://cdn.pixabay.com/photo/2020/05/26/07/03/screwdriver-5221738__340.jpg" />
        <div class="home-cards-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
      <div class="home-cards mr-3">
        <img src="https://cdn.pixabay.com/photo/2020/05/26/07/03/screwdriver-5221738__340.jpg" />
        <div class="home-cards-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
      <div class="home-cards mr-3">
        <img src="https://cdn.pixabay.com/photo/2020/05/26/07/03/screwdriver-5221738__340.jpg" />
        <div class="home-cards-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
      <div class="home-cards">
        <img src="https://cdn.pixabay.com/photo/2020/05/26/07/03/screwdriver-5221738__340.jpg" />
        <div class="home-cards-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
  </div>
</div>
