<div class="header">
  <div class="container">
    <div class="toolify-navbar">
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="search-form mt-3">
      <form action="">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Where do you want your tool?" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="home-banner w-100 p-5">
      <h1>Find the tool you miss</h1>
      <p>Choose your location and the tool you need</p>
      <button class="btn btn-primary">Get a tool!</button>
    </div>

    <div class="home-cards-container d-flex justify-content-around">
      <div class="home-card mr-3"></div>
      <div class="home-card mr-3"></div>
      <div class="home-card mr-3"></div>
      <div class="home-card"></div>
    </div>
  </div>
</div>
