<div class="header">
  <div class="navbar">
    <div class="container"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="search-form">

    </div>
    <div class="home-banner">
      <h1>Find the tool you miss</h1>
      <p>Test & Screw</p>
    </div>

    <div class="home-cards">

    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <p>2020 - Toolify</p>
  </div>
</div>
