.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #53BBC3;
  transition: background 0.3s ease;
  border: none;
}

.btn-flat:hover {
  background: #3ba1a8;
  color: white;
  text-decoration: none;
}

