.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #53BBC3;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 1px #cbc6cd;
}

.btn-flat:hover {
  background: #3ba1a8;
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 1px #c2bdc5;
}

