.btn-rounded-light {
  color: $toolify-light;
  border: 1px solid $toolify-light;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  margin-top: 10px;
  background-color: #FFF;
}

.btn-rounded-light:hover {
  color: #36949c;
  border: 1px solid #36949c;
  text-decoration: none;
}
