.home-cards {
  overflow: hidden;
  background-color: #fff;
  height: 360px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.5s all cubic-bezier(0.21, 1, 0.24, 1.41);
  &:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    text-decoration: none;
  }

  img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  padding: 15px;
  }

  h2 {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  }

  p {
    font-size: 16px;
    opacity: .7;
    margin: 0;
    text-decoration: none;
  }

}


.home-cards .home-cards-infos {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.home-cards .show-link {
  padding-left: 10px;
  padding-bottom:10px;
}

.tool-card-links {
  text-align: right;
  padding: 0 10px 10px 0;
}



