.home-cards {
  overflow: hidden;
  background-color: #fff;
  height: 360px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
  }

  img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  padding: 15px;
  }
}

.home-cards h2 {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
}

.home-cards p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.home-cards .home-cards-infos {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.home-cards .show-link {
  padding-left: 10px;
  padding-bottom:10px;
}

.tool-card-links {
  text-align: right;
  padding: 0 10px 10px 0;
}

