// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "home-cards";
@import "tool-card";
@import "btn-rounded-light";
@import "btn-flat";
@import "btn-transparent";
@import "tool-form";
@import "show";
@import "booking-form";
@import "details-booking-card";


h1, h2, h3 {
  color: $toolify-dark;
}

p {
  color: $toolify-dark;
}

a:hover {
  text-decoration: none;
}

.price {
  font-weight: bold;
  font-size: 20px !important;
  color: $toolify-dark;
  opacity: 1 !important;
}

.bg-logo-white {
  background-color: white;
  width: 50px;
  padding: 2px 5px 5px 5px;
  border-radius: 15px;
}
