.toolify-navbar {
  justify-content: space-between;
  background: white;
}

.toolify-navbar .navbar-collapse {
  flex-grow: 0;
}

.toolify-navbar .navbar-brand img {
  width: 100px;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-upload {
  margin-right: 15px;
}
