.p-show {
  color: rgb(51, 76, 107);
  font-size: 18px;
}

.img-show {
  border-radius: 8px;
  max-width:100%;
  height:auto;
  margin-bottom: 8px;
}

.p-show-details {
  margin-bottom: 5px;
}

.header-show {
  padding-top: 80px;
}
