.card-tool-show {
  margin-top: 90px;
  margin-bottom: 50px;
  overflow: hidden;
  height: 350px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: top;
  border-radius: 10px;
  position: relative;
  width: 700px;
  h2 {
  margin: 0;
  padding-top: 35px;
  }
  h3 {
  margin: 0;
  font-family: "open sans";
  padding-bottom: 10px;
  font-size: 18px;
  opacity: 0.8;
  }
}

.card-tool-infos {
  padding-left: 50px;
  color: $toolify-dark;
  h2 {
  font-size: 35px;
  }
  .btn-book-now {
  padding: 8px 65px;
  }
  .book-now {
    margin-top: 25px;
  }
}

.img-show {
  height: 100%;
  width: 220px;
  object-fit: contain;
  padding: 8px;
  border-radius: 10px;
  margin: 0px 30px;
}

.p-show-details {
  margin-bottom: 5px;
}

.tool-details {
  padding-top: 25px;
  p {
  font-size: 18px;
  opacity: .9;
  margin: 0;
  font-family: "open sans";
  padding-bottom: 5px;
  }
}

.other-tools {
  margin-top: 90px;
  width:100%;
  h4 {
  font-size: 22px;
  margin-bottom: 20px;
  }
}

.card-owner-tools {
  margin-bottom: 10px;
  overflow: hidden;
  height: 94px;
  width: 100%;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }
  img {
  height: 100%;
  width: 120px;
  object-fit: contain;
  padding: 20px;
  }
  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }
  p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 7px;
  }
  .owner-tools-infos {
  padding: 20px;
  }
}

#map {
  margin-top: 50px;
  border-radius: 10px;
  height: 50px;
  width: 100%;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .header-show {
    font-size: 20px;
  }
  .p-show {
    font-size: 15px;
  }
  .card-tool-show h3 {
    font-size: 17px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .header-show {
    font-size: 20px;
  }
}






