
.tool-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
  }

  img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  }

  h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #2f4d6b;
  }

  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }
}

.tool-card .tool-card-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fa-star {
  color: #53BBC1;
  opacity: 0.3;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  &:hover {
  color: #2f4d6b;
  opacity: 1;
  }
}

